.info-section {
    background-color: rgba(0, 0, 0, 0.842);
    margin-top: 2rem;
    color: white;
    font-size: 1.1rem;
    padding-bottom: 1rem; 

}

.info-section-picture {
    margin-top: 1rem;
}

p{
   margin-top: 1rem; 
}