body {
    background-image: url("https://culturainquieta.com/images/2_ESTEFANIA/Rosh333/Yayoi_Kusama/yayoi_Kusama._Cultura_Inquieta_2jpg.jpg");
    background-position: center;
    background-size: cover;
}